/* Clear */
.clear {
	display: block;
	clear: both;
	float: none;
}

/* Typography */
body {
	font-family: 'Nunito', sans-serif;
	color: #111;
}
h1, h2, .page .panel-content .recent-posts .entry-title {
	color: #000;
	font-family: 'BioRhyme';
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: .05em;
}
h2 {
	color: #647373;
	font-weight: 400;
}
h3 {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .05em;
}
@media screen and (min-width: 48em) {
	.single-post .entry-title, .page .entry-title {
	  font-size: 26px;
	  font-size: 2.5rem;
		font-weight: 300;
	}
}
a {
	color: #8d3d46;
}

blockquote {
  font-family: 'courier-prime', Courier, monospace;
  font-style: italic;
  border-color: #000;
  border-left: 3px solid #000;
  padding-left: 1em;
  margin-bottom: 2em;
	color: #000;
}
blockquote p:last-child {
  margin-bottom: 0;
}
.wp-caption, .gallery-caption {
  color: #000;
  font-size: 14px;
  font-size: 0.9rem;
  font-style: italic;
	font-family: 'courier-prime', Courier, monospace;
}
.wp-caption .wp-caption-text {
  border-bottom: 3px solid #000;
  padding-bottom: .8em;
}

/* Header area */
.site-branding {
  background-color: #EAE4E3;
}
.home .site-branding {
	background-color: transparent;
}
.home .site-branding .wrap {
	display: none;
}
div.custom-header {
	background-image: url('https://2017.us.wordcamp.org/files/2017/03/Vid-skylineDark.jpg');
}
@media screen and ( max-width: 900px ) {
	.home .site-branding .wrap {
		display: block;
		background: rgba(255,255,255,.70);
		padding-top: 2vh;
		padding-bottom: 2vh;
	}
}

@media screen and ( max-width: 480px ) {
	.home .site-branding .wrap {
		text-align: center;
		background: transparent;
	}

	body.home.has-header-image .site-title a,
	body.home.has-header-image .site-description {
		color: #fff
	}

	.home .custom-logo-link img {
		max-height: 200px;
		filter: invert(100%);
		padding-top: 2vh;
		padding-bottom: 2vh;
	}
}

.site-title, .site-title a {
  color: #000;
  font-family: 'BioRhyme';
  font-weight: 300;
}
.site-description {
  color: #000;
	font-family: 'courier-prime', Courier, monospace;
	font-style: italic;
}
@media screen and (min-width: 900px) {
	.home .site-branding {
	    background-color: transparent;
	}
}

/* Main navigation */
.navigation-top {
  border-bottom: 3px solid #000;
	border-top: 3px solid #000;
}
.navigation-top a {
  text-transform: uppercase;
  letter-spacing: .1em;
}
.navigation-top .current-menu-item > a, .navigation-top .current_page_item > a {
  color: #000;
  background-color: #c8ebeb;
}
.main-navigation a:hover {
  color: #8D3D46;
}
.social-navigation a {
  background-color: #000;
}
.site-footer {
  border-top: 3px solid #000;
  background-color: #C8EBEB;
}

/* Archives */
.blog .page-header {
  padding-bottom: 2em;
  display: none;
}

@media screen and (min-width: 48em) {
	.blog:not(.has-sidebar) #primary article, .archive:not(.page-one-column):not(.has-sidebar) #primary article, .search:not(.has-sidebar) #primary article, .error404:not(.has-sidebar) #primary .page-content, .error404.has-sidebar #primary .page-content, body.page-two-column:not(.archive) #primary .entry-content, body.page-two-column #comments {
	  float: none;
	  width: 100%;
	}
}

@media screen and (min-width: 48em) {
	.page.page-one-column .entry-header, .twentyseventeen-front-page.page-one-column .entry-header, .archive.page-one-column:not(.has-sidebar) .page-header {
	  margin-bottom: 1.5em;
	}
}

/* Buttons */
button, a.button, input[type="button"], input[type="submit"] {
  background-color: transparent;
  border: 3px solid #222;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #000;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1em;
	font-family: Nunito;
	padding: 0.75em 2em;
	font-weight: 600;
}
button:hover, a.button:focus, a.button:hover, .button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
  background: #E1D7D6;
}

/* Comment area */
.comment-author {
	font-family: 'courier-prime', Courier, monospace;
	font-style: italic;
}
.comment-author .avatar {
  border-radius: 50%;
}
.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar {
  border: 3px solid #333;
  padding: 3px;
  background-color: #C8EBEB;
}

/* List Styles */

ul, ol, li > ul, li > ol {
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}

/* Style for an ol with h3 headers in each li (like code of conduct) */
ol.headed-ol {
	list-style-type: none;
	margin-left: 0;
}
ol.headed-ol > li {
	counter-increment: step-counter;
}
.headed-ol > li > h3::before {
  content: counter(step-counter);
  margin-right: 15px;
  font-family: 'BioRhyme';
  font-size: 2em;
  font-weight: 300;
  color: #8D3D46;
}

/* Org shortcode */
.wcorg-organizer .wcorg-organizer-description {
    padding-left: 6rem;
    min-height: 5rem;
}
.wcorg-organizer .avatar {
		float: left;
    margin-left: -6rem;
    width: 5rem;
}

/* Hide tix remaining */
td.tix-column-remaining, th.tix-column-remaining {
  display: none;
}

/** Schedule **/
.page.page-one-column.page-slug-schedule #primary {
	max-width: 100%;
}

.wcpt-schedule :not(.global-session) tr > td:first-of-type,
.sunday-schedule .wcpt-schedule tr > td.wcpt-time {
	width: 100px;
}

.wcpt-schedule :not(.global-session) tr > td:nth-of-type(n + 2) {
	width: calc(100%/3);
}

.sunday-schedule .wcpt-schedule tr > td:not(.wcpt-time) {
	width: auto;
}

.wcpt-schedule .global-session td[colspan="3"] {
	text-align: center;
}

.wcpt-schedule thead th {
	background: #A74154;
	color: #ffffff;
	border-bottom: none;
	font-weight: 300;
	padding-top: 10px;
	padding-bottom: 10px;
}

.wcpt-schedule tr, .wcpt-schedule td, .wcpt-schedule th {
	text-align: center;
	vertical-align: top;
}

.wcpt-track-description, .wcpt-session-speakers {
	display: block;
}

.wcpt-schedule tr {
	background: #f0f0f0;
}

.wcpt-schedule tr.global-session {
	background: #C0EBEB;
}

.wcpt-schedule tr.global-session td {
	padding: 20px 0 !important;
}

.wcpt-schedule tr td {
	padding-top: 12px;
	padding-bottom: 12px;
}

.wcpt-schedule .wcpt-session-speakers:before {
	content: '- ';
}

.wcpt-schedule .wcpt-session-speakers a {
	color: rgb(15,15,15);
	font-size: 14px;
	font-style: italic;
}

.wcpt-schedule .wcpt-session-speakers a:hover {
	-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 3px 0 rgba(15, 15, 15, 1);
	box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 3px 0 rgba(15, 15, 15, 1);
}


@media (min-width: 701px) {
	
	.wcpt-schedule tr:not(.global-session) > td.wcpt-time {
		border-right: 5px solid white;
	}

	.wcpt-schedule thead th:not(:last-of-type) {
		border-style: solid;
		border-width: 0 4px 0 0;
	}

	.wcpt-schedule tr {
		border-bottom: 2px solid #ffffff;
		border-top: 2px solid #ffffff;
	}

	.wcpt-schedule tr.global-session {
		border-bottom: 4px solid #ffffff;
		border-top: 4px solid #ffffff;
	}
	
	/** Hides lines between cells on long sessions */
	.friday-schedule .wcpt-schedule .wcpt-time-115pm .wcpt-time,
	.friday-schedule .wcpt-schedule .wcpt-time-115pm .wcb-track-fiddle,
	.friday-schedule .wcpt-schedule .wcpt-time-115pm .wcb-track-guitar,
	.friday-schedule .wcpt-schedule .wcpt-time-115pm .wcpt-session-empty,
	.friday-schedule .wcpt-schedule .wcpt-time-130pm .wcpt-time,
	.friday-schedule .wcpt-schedule .wcpt-time-130pm .wcpt-session-empty,
	.friday-schedule .wcpt-schedule .wcpt-time-215pm .wcpt-time,
	.friday-schedule .wcpt-schedule .wcpt-time-215pm .wcb-track-fiddle,
	.friday-schedule .wcpt-schedule .wcpt-time-215pm .wcb-track-guitar,
	.friday-schedule .wcpt-schedule .wcpt-time-230pm .wcpt-time,
	.friday-schedule .wcpt-schedule .wcpt-time-230pm .wcpt-session-empty,
	.friday-schedule .wcpt-schedule .wcpt-time-330pm .wcpt-time,
	.friday-schedule .wcpt-schedule .wcpt-time-330pm .wcb-track-fiddle,
	.friday-schedule .wcpt-schedule .wcpt-time-330pm .wcb-track-guitar,
	.friday-schedule .wcpt-schedule .wcpt-time-345pm .wcpt-time,
	.friday-schedule .wcpt-schedule .wcpt-time-345pm .wcpt-session-empty,
	.friday-schedule .wcpt-schedule .wcpt-time-445pm .wcpt-time,
	.friday-schedule .wcpt-schedule .wcpt-time-445pm .wcb-track-fiddle,
	.friday-schedule .wcpt-schedule .wcpt-time-445pm .wcb-track-guitar,
	.friday-schedule .wcpt-schedule .wcpt-time-500pm .wcpt-time,
	.friday-schedule .wcpt-schedule .wcpt-time-500pm .wcpt-session-empty,
	.saturday-schedule .wcpt-schedule .wcpt-time-115pm .wcpt-time,
	.saturday-schedule .wcpt-schedule .wcpt-time-115pm .wcb-track-fiddle,
	.saturday-schedule .wcpt-schedule .wcpt-time-115pm .wcb-track-guitar,
	.saturday-schedule .wcpt-schedule .wcpt-time-115pm .wcpt-session-empty,
	.saturday-schedule .wcpt-schedule .wcpt-time-130pm .wcpt-time,
	.saturday-schedule .wcpt-schedule .wcpt-time-130pm .wcpt-session-empty,
	.saturday-schedule .wcpt-schedule .wcpt-time-215pm .wcpt-time,
	.saturday-schedule .wcpt-schedule .wcpt-time-215pm .wcb-track-fiddle,
	.saturday-schedule .wcpt-schedule .wcpt-time-215pm .wcpt-session-empty,
	.saturday-schedule .wcpt-schedule .wcpt-time-215pm .wcb-track-guitar,
	.saturday-schedule .wcpt-schedule .wcpt-time-230pm .wcpt-time,
	.saturday-schedule .wcpt-schedule .wcpt-time-230pm .wcpt-session-empty {
		position: relative;
	}
	
	.friday-schedule .wcpt-schedule .wcpt-time-115pm .wcpt-time:after,
	.friday-schedule .wcpt-schedule .wcpt-time-115pm .wcpt-session-empty:after,
	.friday-schedule .wcpt-schedule .wcpt-time-115pm .wcb-track-fiddle:after,
	.friday-schedule .wcpt-schedule .wcpt-time-115pm .wcb-track-guitar:after,
	.friday-schedule .wcpt-schedule .wcpt-time-130pm .wcpt-time:after,
	.friday-schedule .wcpt-schedule .wcpt-time-130pm .wcpt-session-empty:after,
	.friday-schedule .wcpt-schedule .wcpt-time-215pm .wcpt-time:after,
	.friday-schedule .wcpt-schedule .wcpt-time-215pm .wcb-track-fiddle:after,
	.friday-schedule .wcpt-schedule .wcpt-time-215pm .wcb-track-guitar:after,
	.friday-schedule .wcpt-schedule .wcpt-time-230pm .wcpt-time:after,
	.friday-schedule .wcpt-schedule .wcpt-time-230pm .wcpt-session-empty:after,
	.friday-schedule .wcpt-schedule .wcpt-time-330pm .wcpt-time:after,
	.friday-schedule .wcpt-schedule .wcpt-time-330pm .wcb-track-fiddle:after,
	.friday-schedule .wcpt-schedule .wcpt-time-330pm .wcb-track-guitar:after,
	.friday-schedule .wcpt-schedule .wcpt-time-345pm .wcpt-time:after,
	.friday-schedule .wcpt-schedule .wcpt-time-345pm .wcpt-session-empty:after,
	.friday-schedule .wcpt-schedule .wcpt-time-445pm .wcpt-time:after,
	.friday-schedule .wcpt-schedule .wcpt-time-445pm .wcb-track-fiddle:after,
	.friday-schedule .wcpt-schedule .wcpt-time-445pm .wcb-track-guitar:after,
	.friday-schedule .wcpt-schedule .wcpt-time-500pm .wcpt-time:after,
	.friday-schedule .wcpt-schedule .wcpt-time-500pm .wcpt-session-empty:after,
	.saturday-schedule .wcpt-schedule .wcpt-time-115pm .wcpt-time:after,
	.saturday-schedule .wcpt-schedule .wcpt-time-115pm .wcpt-session-empty:after,
	.saturday-schedule .wcpt-schedule .wcpt-time-115pm .wcb-track-fiddle:after,
	.saturday-schedule .wcpt-schedule .wcpt-time-115pm .wcb-track-guitar:after,
	.saturday-schedule .wcpt-schedule .wcpt-time-130pm .wcpt-time:after,
	.saturday-schedule .wcpt-schedule .wcpt-time-130pm .wcpt-session-empty:after,
	.saturday-schedule .wcpt-schedule .wcpt-time-215pm .wcpt-time:after,
	.saturday-schedule .wcpt-schedule .wcpt-time-215pm .wcpt-session-empty:after,
	.saturday-schedule .wcpt-schedule .wcpt-time-215pm .wcb-track-fiddle:after,
	.saturday-schedule .wcpt-schedule .wcpt-time-215pm .wcb-track-guitar:after,
	.saturday-schedule .wcpt-schedule .wcpt-time-230pm .wcpt-time:after,
	.saturday-schedule .wcpt-schedule .wcpt-time-230pm .wcpt-session-empty:after {
		content: " ";
		height: 2px;
		background: #f0f0f0;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -2px;
	}
	
	.wcpt-schedule:first-of-type tr.wcpt-time-130pm:not(.global-session) .wcpt-time,
	.wcpt-schedule:first-of-type tr.wcpt-time-145pm:not(.global-session) .wcpt-time,
	.wcpt-schedule:first-of-type tr.wcpt-time-230pm:not(.global-session) .wcpt-time,
	.wcpt-schedule:first-of-type tr.wcpt-time-245pm:not(.global-session) .wcpt-time,
	.wcpt-schedule:first-of-type tr.wcpt-time-345pm:not(.global-session) .wcpt-time,
	.friday-schedule .wcpt-schedule:first-of-type tr.wcpt-time-400pm:not(.global-session) .wcpt-time,
	.wcpt-schedule:first-of-type tr.wcpt-time-500pm:not(.global-session) .wcpt-time,
	.wcpt-schedule:first-of-type tr.wcpt-time-515pm:not(.global-session) .wcpt-time,
	.wcpt-schedule:last-of-type tr.wcpt-time-130pm:not(.global-session) .wcpt-time,
	.wcpt-schedule:last-of-type tr.wcpt-time-145pm:not(.global-session) .wcpt-time,
	.wcpt-schedule:last-of-type tr.wcpt-time-230pm:not(.global-session) .wcpt-time,
	.wcpt-schedule:last-of-type tr.wcpt-time-245pm:not(.global-session) .wcpt-time {
		color: #f0f0f0;
	}
}

@media (max-width: 700px) {
	
	.wcpt-schedule tr.global-session {
		background: rgba(192, 235, 235, 0.4);
	}

	.wcpt-schedule tr {
		border: 1px solid #A74154;
		border-width: 6px 1px 0 1px;
		border-right-color: #333333;
		border-left-color: #333333;
		margin-bottom: 0;
	}
	
	.wcpt-schedule tr:last-child {
		border-bottom-width: 1px;
		border-bottom-color: #333333;
	}
	
	.wcpt-schedule .wcpt-session-empty {
		padding: 1px;
	}

	tr:not(:last-child) .wcpt-session-type-session:last-child {
		margin-bottom: 0;
	}

	.wcpt-schedule :not(.global-session) tr > td:first-of-type {
		width: 100%;
	}
	
	.wcpt-schedule :not(.global-session) tr > td:nth-of-type(n + 2) {
		width: 100%;
	}
	
	.wcpt-schedule :not(.global-session) tr > td.wcpt-time {
		padding-top: 10px;
	}
	
	span.wcpt-session-speakers {
		padding-left: 0;
	}

	span.wcpt-session-speakers:before {
		display: none;
	}

	.wcpt-schedule td a {
		box-shadow: none;
		padding-bottom: 0;
	}
}